{{!< default}}
<div class="home">
<div class="about-content">
	<h1>Hi there!</h1>
	<p>I'm Victor, a student studying at MIT, and a cross between a <em>computer</em> engineer, <em>mechanical</em> engineer, and a <em>nice-things</em>-enthusiast. I enjoy <em>production</em>-related activities and dealing with logistical nightmares- I also do <em>photography</em> every now and then. This place is a collection of projects I've worked on. If you like what you see or you're interested in any of my work, please feel free to contact me at:</p>
	<p class="my-email">victorhung92@gmail.com</p>
</div>
<div class="about" tabindex="0">
	about
</div>
<div class="content">
<div class="sticky-nav">
<h1>Victor Hung</h1>
</div>
<div class="row header">
	<div class="large-12 column header-content">
		<div class="me-graphic">
			<img class="me" src="/images/me-wrench.svg" />
			<img class="wrench" src="/images/wrench.svg" />
		</div>
		<div class="title-text">
			<h1>Victor Hung</h1>
			<h2>here are my <em>real life</em> projects</h2>
			<h2 class="subtext">my online ones can be <a class="highlight" href="http://victorhh.com">found here</a>!</h2>
		</div>
	</div>
	<div class="row look-down-container">
		<div class="look-down"></div>
	</div>
</div>
<a name="projects"></a>
<div class="container">
	<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	{{# each data.posts.results}}
	  <li data-blockid="{{{id}}}" class="project-item-container" style="background-image:url('{{{image.url}}}');">
	  	<a href="{{postUrl slug}}">
		  	<div class="project-item">
					<h3>{{{title}}}</h3>
					{{{content.brief}}}
		
				</div>
			</a>
		</li>
	{{/each}}
	</ul>
</div>
<!--
<div class="project-details-container">
{{# each data.posts.results}}
	<div class="project-details" data-blockid="{{{id}}}">
		<h1>{{{title}}}</h1>
		{{{content.extended}}} 
	</div>
{{/each}}
</div>
-->
</div>
</div>
<script src="/js/main.js"></script>
